## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
bin/
obj/

## Visual Studio Code
.vscode/

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

## Entity Framework
*.edmx.sql

## Resharper
_ReSharper*/
*.DotSettings.user

## Rider
.idea/

## Others
*.log
*.sqlite
*.db

## User-specific files
*.user
*.userprefs
