<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>

    <add name="BD"
         connectionString="
Server=BOOK-DHP3DK8MCI\SQLEXPRESS;
Database=GestionGeografica;
Trusted_Connection=True;"
         providerName="System.Data.SqlClient"/>

  </connectionStrings>

</configuration>
